<!DOCTYPE html>
<html ng-app="HabrApp">
    <head>
        <meta charset="UTF-8">
        <title>Хабр</title>
        <link rel="stylesheet" href="style.css">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <div class="s0" ng-controller="HabrController">
            <div class="s1">
                <div class="s3">
                    <p>Категория: {{category.name}}</p>
                </div>
                <div class="s3">
                    <ul style="list-style: none;"> Статьи:
                        <li style="padding-left: 10px" ng-repeat="article in articles">
                            <a href="" ng-click="setArticle($index)">{{article.title}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="s2">
                <div class="s3">
                    <a href="authorization.html">Авторизация</a>
                </div>
                <div class="s3">
                    <ul style="list-style: none;"> Категории:
                        <li style="padding-left: 10px" ng-repeat="category in categories">
                            <a href="" ng-click="setCategory($index)">{{category.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>