<div>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-sm">
               <span>
                  <div>Пользователь:<strong> <em> @{{userInf.username}}</em> </strong></div>
                  <div>Роль:<strong> <em> {{role}} </em> </strong></div>
                </span>
            </div>
            <div class="col-sm" align="middle">
                <form action="#!/create-article/">
                    <button id="orderSubmit777" class="btn btn-outline-info btn-sm"
                            style="margin-left: 10px;" type="submit">Создать новую статью
                    </button>
                </form>
            </div>
        </div>
    </div>

    <hr>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col">
            </div>
            <div class="col" align="middle">
                <strong>Статьи:</strong>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <form class="align-middle" ng-submit="updateUser()">
                    <div class="form-group row">
                        <label for="realName" class="col-sm-2 col-form-label">Настоящее имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="realName" placeholder="Настоящее имя"
                                   ng-model="userInf.realname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dtBirth" class="col-sm-2 col-form-label">Дата рождения</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="dtBirth" value={{userInf.dtBirth}}
                                   ng-model-options="{timezone:'UTC'}" ng-model="userInf.dtBirth">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Немного о себе</label>
                        <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="description" placeholder="Немного о себе"
                                  ng-model="userInf.description">
                        </textarea>
                        </div>
                    </div>

                    <button id="userSubmit" class="btn btn-outline-warning btn-sm"
                            style="margin-left: 10px;" type="submit">Сохранить данные
                    </button>
                </form>
            </div>
            <div class="col-sm" align="middle">
                <table class="table">
                    <tr class="table-primary">
                    </tr>
                    <tbody>
                    <tr ng-repeat="article in userArticles">
                        <td><a href="" ng-click="setArticle($index)">{{article.title}}</a></td>
                        <td>
                            <span>
                                <div>
                                    <a href="#!/edit-article/{{article.id}}" title="Редактирование статьи">✎</a>
                                </div>
                                <div>
                                    <button class="btn"><i class="fa fa-trash"></i></button>
                                </div>
                            </span>
                        </td>
                        <td>
                            <label>Статус: {{article.status.name}}</label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <hr>
    <footer>
        <p>&copy; Хабр 2022</p>
    </footer>

</div>