<div>
    <br>
    <label>Пользователь: <em> @{{userInf.username}}</em> </label>
    <br>
    <br>
    <br>
    <br>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <form class="align-middle" ng-submit="updateUser()">
                    <div class="form-group row">
                        <label for="realName" class="col-sm-2 col-form-label">Настоящее имя</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="realName" placeholder="Настоящее имя"
                                   ng-model="userInf.realname">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="dtBirth" class="col-sm-2 col-form-label">Дата рождения</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="dtBirth" value={{userInf.dtBirth}}
                                   ng-model="userInf.dtBirth">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="description" class="col-sm-2 col-form-label">Немного о себе</label>
                        <div class="col-sm-10">
                        <textarea type="text" class="form-control" id="description" placeholder="Немного о себе"
                                  ng-model="userInf.description">
                        </textarea>
                        </div>
                    </div>

                    <button id="userSubmit" class="btn btn-outline-warning btn-sm"
                            style="margin-left: 10px;" type="submit">Сохранить данные
                    </button>
                </form>
            </div>
            <div class="col">
                <div class="s3">
                    <ul style="list-style: none;"> Статьи:
                        <li style="padding-left: 10px" ng-repeat="article in userArticles">
                            <a href="/" ng-click="setArticle($index)">{{article.title}}</a>
                            <a href="#!/edit-article/{{article.id}}" title="Редактирование статьи">✎</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <form action="#!/create-article/">
                <button id="orderSubmit777" class="btn btn-outline-info btn-sm"
                        style="margin-left: 10px;" type="submit">Создать новую статью
                </button></form>
            </div>
        </div>
    </div>

</div>