<div>
    <br>
    <H1>Редактирование статьи</H1>

    <div class="container">
        <form class="align-middle" ng-submit="updateArticle()">
            <div class="form-group row">
                <label for="articleTitle" class="col-lg-3 col-form-label">Заголовок статьи</label>
                <div class="col-lg-9">
                                <textarea type="text" class="form-control" id="articleTitle"
                                          placeholder="Заголовок статьи"
                                          ng-model="articleInf.title">
                                </textarea>
                </div>
            </div>
            <br>
            <div class="form-group row" style="margin-bottom: 20px;">
                <div class="col-3">
                    <label for="articleText" >Текст статьи</label>
                    <br>
                    <br>
                    <br>
                    <div class="row-bg row-form-label">
                        <input type="file" select-ng-files name="file" ng-model="newFile"
                               accept="image/png, image/gif, image/jpeg">
                        <img  src="{{sourceImage}}" onerror="this.style.display='none'" class="img-thumbnail"/>
                    </div>
                </div>
                <div class="col-lg-9">
                                <textarea type="text" class="form-control" id="articleText"
                                          placeholder="Текст статьи"
                                          ng-model="articleInf.text" style="height: 600px;">
                                </textarea>
                </div>
                <div ng-repeat="category in categories">
                    <div class="action-checkbox">
                        <input id="{{category.name}}" type="checkbox" value="{{category.name}}"
                               ng-checked="selection.indexOf(category.name) > -1"
                               ng-click="toggleSelection(gender)" />
                        <label for="{{category.name}}"></label>
                        {{category.cyrillicName}}
                    </div>
                </div>
            </div>
            <button id="updateArticle" class="btn btn-outline-warning btn-sm"
                    style="margin-left: 10px;" type="submit">Сохранить черновик
            </button>

            <button id="publicateArticle" class="btn btn-outline-warning btn-sm"
                    style="margin-left: 60px;" type="button" ng-click="updateArticleAndPublicate()">Опубликовать
            </button>
        </form>
    </div>
</div>
<br>