<div class="container">
    <table class="table">
        <br>
        <thead>
            Ожидающие статьи:
        </thead>
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                <li class="page-item" ng-show="isPreviousPageM()">
                    <button class="page-link" ng-click="getArticlesModeration(curPageM-1)"><<</button>
                </li>
                <li class="page-item" ng-repeat="pageIndex in paginationArrayM">
                    <button class="page-link" ng-click="getArticlesModeration(pageIndex)">{{pageIndex}}</button>
                </li>
                <li class="page-item" ng-show="isNextPageM()">
                    <button class="page-link" ng-click="getArticlesModeration(curPageM + 1)">>></button>
                </li>
            </ul>
        </nav>
        <tbody>
            <tr ng-repeat="article in articlesModeration">
                <td><a href="#!/article" ng-click="setArticle($index)">{{article.title}}</a></td>
                <td>{{article.username}}</td>
                <td>{{article.dtCreated}}</td>
                <td>
                    <button type="button" class="btn btn-success" ng-click="updateStatus(article.id, 'published')">Утвердить</button>
                </td>
                <td>
                    <button type="button" class="btn btn-danger" ng-click="updateStatus(article.id, 'hidden')">Отклонить</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="container">
    <div class="col-6">

    <a>Забанить:</a>
    <div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">@</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="addon-wrapping" ng-model="banUser.username">
        <input type="number" class="form-control" placeholder="quantity days" aria-label="quantity days"
               aria-describedby="addon-wrapping" ng-model="banUser.daysBan">
        <button class="btn btn-outline-secondary" type="button" id="button"
                ng-disabled="!(banUser.username && banUser.daysBan)" ng-click="addBanUser(banUser)">
            Бан
        </button>
    </div>
    </div>
</div>